.homepage-wallpaper {
    background-image: url('https://i.pinimg.com/originals/e3/25/8e/e3258e6b1561bab3317a84f83ef82d85.jpg');
    position: absolute;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.homepage-content {
    font-size: 50px;
    color: white;
    padding-top: 250px;
    padding-left: 30px;
}

#browse-button {
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 10px;
}

#book-button {
    margin-top: 10px
}