body {
    background: #f7f5f5;
}
.title {
    font-size: 18px;
    margin: 0;
}
.header-list {
    font-size: 14px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
li {
    margin: 0 10px;
}
li:hover {
    cursor: pointer;
    color: #84cef1;
}
.k-badge-container {
    margin-right: 8px;
}

a {
    text-decoration: none;
    color: rgb(167, 161, 161);
}

.k-appbar {
    opacity: 0.9;
    background-color: black;
}
