.container {
    display: flex;
    justify-content: center;
    margin-top: 6%;
    margin-bottom: 3%;
}

.booking-wallpaper {
    background-image: url('https://i.pinimg.com/originals/e3/25/8e/e3258e6b1561bab3317a84f83ef82d85.jpg');
    position: fixed;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    z-index: -1;
    overflow-y: scroll;
}

.k-form {
    width: 400px;
    background-color: white;
    opacity: 0.95;
    border: solid 1px;
    border-radius: 5px;
    padding: 5px;
}