.hotels {
    margin: 6%;
    opacity: 0.95;
}

.hotels-wallpaper {
    background-image: url('https://i.pinimg.com/originals/e3/25/8e/e3258e6b1561bab3317a84f83ef82d85.jpg');    
    position: absolute;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}